:root {
  --primary-color: #282d3a;
  --default-size: 20px;
  --secondary-color: #3d4354;
}

/* body font-family */
body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  overflow-y: scroll;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.btn.bg-secondary-color:hover {
  opacity: 0.8;
}

.bg-secondary-color {
  background-color: var(--secondary-color) !important;
}

.caption {
  box-shadow: 0px 1px 5px var(--primary-color);
  transition: 1s;
}

.newsTitle {
  color: var(--primary-color);
}

.newsthumb {
  height: 65px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  border: 1px solid var(--secondary-color);
}

.card-body img {
  border: 1px solid var(--secondary-color);
}

.darkMode .newsTitle {
  color: #fff;
}

.border-1 {
  border: 2px solid var(--primary-color);
}

.border-1 h2 {
  margin-top: -35px;
  height: max-content;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

#floatingMessage {
  min-height: 206px;
}

a.nav-link.active,
a.nav-link:hover {
  border-bottom: 1px solid;
}

.bg-primary-color:hover {
  opacity: 0.9;
}

.common-bg-primary-color {
  background: #3a4050;
}

.darkMode {
  background: #282d3a;
  color: #fff;
  min-height: 100%;
}

input#darkModeSwitch {
  height: 25px;
  width: 45px;
  outline: none;
  box-shadow: none;
}

.darkMode .card,
.darkMode .card-header,
.darkMode .form-control {
  color: #fff;
  background-color: #2f3442;
}

.lightMode input#search::placeholder {
  color: #ccc;
}

.darkMode input#search::placeholder,
.darkMode .search::placeholder {
  color: #ffffff38;
}

.searchForm {
  max-width: 700px;
}

.searchForm h2 {
  line-height: 30px;
}

#search,
#searchBtn,
.search,
.searchBtn {
  background: transparent;
  border-width: 0 0 1px;
  border-color: #404554;
  font-size: 20px;
  line-height: 20px;
}

.lightMode #searchBtn:hover {
  color: #000;
}

.lightMode .form-control {
  border-color: #2f344240;
}

label.form-check-label {
  z-index: 10;
  position: relative;
}

.darkMode label.form-check-label {
  margin-left: -40px;
  margin-top: 5px;
}

.lightMode label.form-check-label {
  margin-left: -20px;
  margin-top: 5px;
}

.cardContainer {
  border-bottom: 1px solid;
}

.app-container {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.form-check-input:checked {
  background-color: #2f3442;
  border-color: #ccc;
}

.darkMode canvas {
  background-color: #2f3442;
}

canvas {
  border-radius: 3px;
  padding: 15px;
  margin: 0.5rem 0;
  width: 100% !important;
  height: auto !important;
}

.pie canvas {
  max-height: 400px;
}

.lightMode .pie canvas {
  background-color: #f2f2f2;
}

/* News */

.news .card {
  background-color: transparent;
  box-shadow: none;
}

.news .caption {
  box-shadow: none;
  font-size: small;
}

.darkMode .news .card a {
  color: #ccc;
}

.lightMode .news .card a {
  color: var(--primary-color);
}

.darkMode .news .cardContainer {
  border-bottom: 1px solid #404554;
}

.lightMode .news .cardContainer {
  border-bottom: 1px solid #eee;
}

.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.darkMode .navbar {
  background-color: #2f3443 !important;
  opacity: 1;
}

.darkMode .navbar-brand {
  color: #fff;
}
.offcanvas.offcanvas-start {
  max-width: 145px;
  text-align: center;
}

.form-switch {
  position: fixed;
  right: 0;
  width: 65px;
  top: 15px;
  z-index: 10000;
}

i.bi.bi-list {
  font-size: 26px;
  color: #fff;
}

.lightMode .bi.bi-list {
  color: var(--primary-color);
}

.lightMode .navbar {
  background-color: #f2f2f2 !important;
  box-shadow: 0 8px 32px 0 rgb(31 88 135 / 10%);
  border-bottom: 1px solid #ddd;
}

.offcanvas-body {
  list-style: none;
}

.offcanvas-body li {
  border-bottom: 1px solid #464646;
  padding: 1rem 0;
}

.lightMode .offcanvas-body a {
  color: #000;
}

.darkMode .offcanvas-body li {
  border-color: #343a48;
}

.darkMode .offcanvas-body a {
  color: #fff;
}

.lightMode .light-logo,
.darkMode .dark-logo {
  display: none;
}

.darkMode .offcanvas-body {
  background-color: #282d3a;
  color: #bebebe;
}

.darkMode .text-success {
  color: #0ee682 !important;
}

.darkMode .text-danger {
  color: #ff5262 !important;
}

.table > :not(caption) > * > * {
  font-size: 14px;
}

.lightMode .table-striped {
  border: 1px solid #eee;
}

.darkMode .table > :not(caption) > * > * {
  color: #fff;
  background-color: #2f3442;
  border-width: 0;
}

.darkMode .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #3d4354;
}

.nav-tabs {
  width: max-content;
  margin: auto;
  border: 0;
}

.nav-link {
  color: #000;
  border-radius: 0;
}

.nav-link,
.nav-link:hover {
  color: #000;
  border-width: 2px 0 0 0 !important;
  border-color: transparent !important;
}

.nav-link:not(.active):hover {
  opacity: 0.8;
}

.tab-content > .active {
  box-shadow: 0 8px 32px 0 rgb(31 88 135 / 10%);
  border: 1px solid #e4e4e4;
  background-color: #f2f2f2;
}

.tab-content .inv:not(:last-child) {
  border-right: 1px solid #ddd;
}

.darkMode .tab-content .inv:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}

.darkMode .tab-content > .active {
  background-color: #2f3443;
  border-color: var(--secondary-color);
}

.darkMode .nav-link,
.darkMode .nav-link:hover {
  color: #fff;
}

.nav-link.active {
  background-color: #2f3443 !important;
  color: #fff !important;
  border-color: #0475a8 !important;
}

footer {
  background-color: #fff;
}

.darkMode footer {
  background-color: var(--primary-color);
}

.darkMode .text-muted {
  color: #fff !important;
}

.darkMode .border-top {
  border-color: var(--secondary-color) !important;
}

.banner {
  min-height: 250px;
  background: url(/assets/images/stock1.PNG);
  background-position: bottom;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 130s linear infinite;
}

.marquee li {
  width: 105px;
}

.darkMode .btn-outline-success {
  border-color: #0ee682 !important;
  color: #0ee682;
}

.darkMode .btn-outline-success:hover {
  color: #fff;
}

.modal .modal-dialog.custom-modal {
  max-width: 300px !important;
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@media (max-width: 576px) {
  .reverse-col-mobile > .row {
    flex-direction: column-reverse;
  }
  .searchForm h2 {
    line-height: inherit;
    width: 100%;
  }
  .nav-tabs .nav-link,
  .tab-content {
    font-size: smaller;
  }
  .portfolio-stat .fs-3 {
    font-size: 1rem !important;
  }
  .modal .modal-dialog.custom-modal {
    max-width: unset !important;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
